{
    "extends": [
        "airbnb",
        "prettier",
        "react-app"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js"
                ]
            }
        ],
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true,
                "variables": true
            }
        ],
        "no-param-reassign": "off",
        "import/no-extraeous-dependencies": 0,
        "import/prefer-default-export": 0,
        "react/jsx-props-no-spreading": 0,
        "react/no-typos": 0
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ],
                "extensions": [
                    ".js"
                ]
            }
        }
    }
}